.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.center img {
  display: block;
  margin: 0 auto;
}

.container {
    max-width: 90% !important;
    margin: 0 auto;
}
